@value makerBlack, makerLightBlack, makerWhite, makerGrey from '../../common/colors.css';

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: makerLightBlack;
  justify-content: left;
  align-items: center;
  width: 80px;
  height: 100vh;
  position: sticky;
  top: 50px;
  z-index: 50;
}

.sidebarLeft {
  position: absolute;
  left: 0px;
}

.linkHome {
  display: flex;
  width: 100%;
  text-decoration: none;
}

.button {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: makerLightBlack;
  border: 0;
  color: makerWhite;
}

.button:hover {
  background-color: makerGrey;
}

.home,
.compass {
  width: 24px;
  height: 24px;
  color: makerWhite;
  padding: 16px 0 5px 0;
  cursor: pointer;
}

.sub,
.rocker {
  width: 30px;
  height: 28px;
  padding: 16px 0 5px 0;
  color: makerWhite;
  cursor: pointer;
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
}
