@value makerBlack, makerLightBlack, makerWhite, makerGrey, makerLightGrey from '../../common/colors.css';

.header {
  background-color: makerLightBlack;
  display: flex;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 99;
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 20px;
}

.bar {
  font-size: 1.8rem;
  padding: 2px 20px 0 0;
  color: makerWhite;
  cursor: pointer;
}

.home {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.imgs {
  display: flex;
  justify-content: left;
  padding-right: 5px;
  width: 35px;
  height: 22px;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  padding-bottom: 5px;
  color: makerWhite;
}

.search {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.input {
  width: 80%;
  border: 1px solid makerGrey;
  padding-left: 0.8rem;
  background-color: makerBlack;
  color: makerLightGrey;
  font-size: 1.2rem;
}

.input::placeholder {
  color: makerLightGrey;
  font-size: 1.2rem;
}

.button {
  border: 0;
  background-color: makerGrey;
  padding: 0 15px 0 15px;
  cursor: pointer;
}

.searchIcon {
  font-size: 2rem;
  color: makerWhite;
}

.usermenu {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.video,
.notice,
.user,
.apps {
  margin: 12px;
  font-size: 1.5rem;
  color: makerWhite;
  cursor: pointer;
}

.video:hover {
  transform: scale(1.2);
}

.notice:hover {
  transform: scale(1.2);
}

.apps:hover {
  transform: scale(1.2);
}

.user:hover {
  transform: scale(1.2);
}
