@value makerBlack from "../../common/colors.css";

.container {
  background-color: makerBlack;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 25px;
  margin: 0 16px;
}

.main {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
}
