@value makerWhite, makerLightGrey, makerGrey from '../../common/colors.css';

.main {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
}

.container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
}

.detail {
  display: flex;
  flex-direction: column;
  color: makerWhite;
  width: 640px;
  margin: 0 20px 0 20px;
  padding-right: 10px;
}

.video {
  display: flex;
  width: 640px;
  height: 360px;
}

.text {
  display: flex;
}

.title {
  font-size: 18px;
  margin: 0;
  margin-top: 10px;
}

.views {
  font-size: 14px;
  color: makerGrey;
  margin: 0;
}

.views::after {
  content: "•";
  margin: 0 4px;
}

.date {
  font-size: 14px;
  color: makerGrey;
  margin: 0;
}

.textdetail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid makerGrey;
  height: 40px;
}

.count {
  display: flex;
  flex-direction: row;
}

.like {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.likeicon {
  font-size: 18px;
  padding-right: 5px;
}

.liketext {
  font-size: 15px;
}

.channel_contents {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  border-bottom: 1.5px solid makerGrey;
}

.channel_img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  margin: 10px 20px 0 10px;
}

.channel_title {
  font-size: 20px;
}

.description {
  display: flex;
  width: 100%;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.side {
  display: flex;
  width: 30%;
}

@media screen and (max-width: 1150px) {
  .main {
    justify-content: center;
    align-items: center;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .detail {
    border-bottom: 1.5px solid makerGrey;
    margin-bottom: 20px;
  }

  .channel_contents {
    border-bottom: none;
  }

  .side {
    width: 640px;
  }
}
